IQ_AIR_API_URL=http://api.airvisual.com/v2/
IQ_AIR_API_KEY=?
OPEN_METEO_API_URL=https://api.open-meteo.com/v1/forecast
NINJAS_API_URL=https://api.api-ninjas.com/v1/geocoding
NINJAS_API_KEY=?

DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=air_status